/*

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

*/
p {
  font-size: 18px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
}

body {
  min-height: 100vh;
  background-color: #0d192b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
}

/*

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

*/
p {
  font-size: 18px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
}

body {
  min-height: 100vh;
  background-color: #0d192b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
}

.card-wrapper .card {
  height: 543px;
  width: 327px;
  background-color: #14253d;
  -webkit-box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
          box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
  border-radius: 15px;
}

.card-wrapper .card .image-wrapper {
  position: relative;
}

.card-wrapper .card .image-wrapper .logo {
  margin: 24px;
  height: 278px;
  width: 278px;
  border-radius: 8px;
}

.card-wrapper .card .image-wrapper:hover .imgOverlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-wrapper .card .image-wrapper .imgOverlay {
  margin: 24px;
  border-radius: 8px;
  height: 278px;
  width: 278px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 255, 247, 0.4);
  display: none;
}

.card-wrapper .card .image-wrapper .imgOverlay .eye {
  width: 25px;
  height: 25px;
  display: block;
  margin: auto;
}

.card-wrapper .card .body-wrapper {
  margin-left: 24px;
  margin-right: 24px;
  border: 1px;
  border-bottom: solid;
  border-color: white;
}

.card-wrapper .card .body-wrapper .title {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: white;
  margin: 0px;
}

.card-wrapper .card .body-wrapper .title:hover {
  color: #00fff7;
}

.card-wrapper .card .body-wrapper .discription {
  margin-top: 12px;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-family: "Outfit", sans-serif;
  color: #8bacda;
}

.card-wrapper .card .body-wrapper .price-wrapper {
  margin-bottom: 10px;
  height: 19px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-wrapper .card .body-wrapper .price-wrapper .EthImg {
  margin-right: 7px;
}

.card-wrapper .card .body-wrapper .price-wrapper .price {
  padding-right: 30px;
  width: 150px;
  margin: 0px;
  font-family: "Outfit", sans-serif;
  color: #00fff7;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
}

.card-wrapper .card .body-wrapper .price-wrapper .action-wrapper {
  margin-right: -100px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card-wrapper .card .body-wrapper .price-wrapper .action-wrapper .actionImg {
  margin-right: 7px;
}

.card-wrapper .card .body-wrapper .price-wrapper .action-wrapper .callToAction {
  margin: 0px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font: "Outfit", sans-serif;
  color: #8bacda;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.card-wrapper .card .link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 84px 24px 24px;
}

.card-wrapper .card .link-wrapper .linkImg {
  margin-right: 16px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33px;
  height: 33px;
  border: 1px solid #ffffff;
  background: url(.png);
  /* White */
}

.card-wrapper .card .link-wrapper .linkText {
  font-family: "$Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #8bacd9;
}

.card-wrapper .card .link-wrapper .link .linkAuthor {
  margin-left: 5px;
  font-family: "$Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
}

.card-wrapper .card .link-wrapper .link .linkAuthor:hover {
  color: #00fff7;
}

/*

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

*/
p {
  font-size: 18px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
}

body {
  min-height: 100vh;
  background-color: #0d192b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: center;
}

@media screen and (min-width: 1440px) {
  .card-wrapper .card {
    height: 596px;
    width: 350px;
    background-color: #14253d;
    -webkit-box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
            box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
    border-radius: 15px;
  }
  .card-wrapper .card .image-wrapper {
    position: relative;
  }
  .card-wrapper .card .image-wrapper .logo {
    margin: 24px;
    height: 302px;
    width: 302px;
    border-radius: 8px;
  }
  .card-wrapper .card .image-wrapper:hover .imgOverlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card-wrapper .card .image-wrapper .imgOverlay {
    margin: 24px;
    border-radius: 8px;
    height: 302px;
    width: 302px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 255, 247, 0.4);
    display: none;
  }
  .card-wrapper .card .image-wrapper .imgOverlay .eye {
    width: 48px;
    height: 48px;
    display: block;
    margin: auto;
  }
  .card-wrapper .card .body-wrapper {
    margin-left: 24px;
    margin-right: 24px;
    border: 1px;
    border-bottom: solid;
    border-color: white;
  }
  .card-wrapper .card .body-wrapper .title {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: white;
    margin: 0px;
  }
  .card-wrapper .card .body-wrapper .title:hover {
    color: #00fff7;
  }
  .card-wrapper .card .body-wrapper .discription {
    margin-top: 12px;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    font-family: "Outfit", sans-serif;
    color: #8bacda;
  }
  .card-wrapper .card .body-wrapper .price-wrapper {
    margin-bottom: 10px;
    height: 19px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card-wrapper .card .body-wrapper .price-wrapper .EthImg {
    margin-right: 7px;
  }
  .card-wrapper .card .body-wrapper .price-wrapper .price {
    padding-right: 30px;
    width: 150px;
    margin: 0px;
    font-family: "Outfit", sans-serif;
    color: #00fff7;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
  }
  .card-wrapper .card .body-wrapper .price-wrapper .action-wrapper {
    margin-right: -100px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .card-wrapper .card .body-wrapper .price-wrapper .action-wrapper .actionImg {
    margin-right: 7px;
  }
  .card-wrapper .card .body-wrapper .price-wrapper .action-wrapper .callToAction {
    margin: 0px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    font: "Outfit", sans-serif;
    color: #8bacda;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
  }
  .card-wrapper .card .link-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 84px 24px 24px;
  }
  .card-wrapper .card .link-wrapper .linkImg {
    margin-right: 16px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 33px;
    height: 33px;
    border: 1px solid #ffffff;
    background: url(.png);
    /* White */
  }
  .card-wrapper .card .link-wrapper .linkText {
    font-family: "$Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #8bacd9;
  }
  .card-wrapper .card .link-wrapper .link .linkAuthor {
    margin-left: 5px;
    font-family: "$Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #ffffff;
  }
  .card-wrapper .card .link-wrapper .link .linkAuthor:hover {
    color: #00fff7;
  }
}
/*# sourceMappingURL=main.css.map */